/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-weight: bold;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  min-height: calc(100vh - 100px);
  background-color: #edecec;
}

/* Set gray background color and 100% height */
.leftmenu-container {
  background-color: #333333;
  width: 15%;
}

.leftmenu li {
  border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
}
.leftmenu li.active,
.leftmenu li:hover {
  background: #1b93e1;
}
.leftmenu li a {
  font-style: normal;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 13px 20px;
  color: #fff;
  white-space: nowrap;
  z-index: 2;
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  border: none;
}

.main-container {
  width: 84%;
  padding: 1em;
}

.list-container {
  padding: 1em;
  border: 1px solid #e7ebee;
  margin-bottom: 2em;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.price-container {
  display: flex;
  flex-wrap: nowrap;
}

.price-container-item {
  background-color: #f1f1f1;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.price-container-item:first-child {
  margin-left: 0;
}

.price-container-item:hover {
  cursor: pointer;
  border: 1px solid darkgray;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .leftmenu-container {
    height: auto;
    width: 100%;
  }
  .main-container {
    width: 100%;
  }
  .row.content {
    height: auto;
  }
}

/* Widget Info styles */
.widget-info {
  padding: 1em;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
}
.widget-info.red {
  background: #ff4a43;
}
.widget-info.green {
  background: #a2d200;
}
.widget-info.purple {
  background: #8e44ad;
}
.widget-info.blue {
  background: #7cb5ec;/*#007bff;*/
}
.widget-info.lightgreen {
  background: #90ed7d;
}
.widget-info h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .widget-info {
    padding: 0.5em;
  }
}
/* Widget Info styles */

.formBtns {
  margin: 0 0.5em;
}
.formBtns:last-child {
  margin-right: 0;
}

/* Card box styles */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1em 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card.info .card-header {
  background-color: #007bff;
  color: #fff;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card-text:last-child {
  margin-bottom: 0;
}
.card-list {
  width: 100%;
}
/*.card-list-item {
  padding: 0.5rem 0;
}*/
.card-list-item > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* Card box styles */

.loader-container {
  min-height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-row {
  margin: 0.75rem 0;
}

.brand-icon-container {
  display:flex;
  justify-content: center;
}

.brand-icon-container > div {
  margin: 1rem;
}

.brand-icon-container > ul > li {
  list-style: none;
  padding: 1rem;
}

.vertical-horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}